<td>
    {% for assignment in value.all %}
        {% include "app/assignment/assignment.html" with assignment=assignment assignment_name=assignment.staff.name %}
    {% endfor %}
    {% if row.assignment_open > 0 %}
        <a href="{{ row.get_absolute_url }}" class="btn btn-sm btn-outline-danger">
            {% if row.assignment_open > 1 %}{{ row.assignment_open }}{% endif %}
            Unassigned [{{ row.load_calc|floatformat:0 }}{% if row.load_calc_first != row.load_calc %} / {{ row.load_calc_first|floatformat:0 }}{% endif %}]
            <i class="fa-solid fa-clipboard-question"></i>
        </a>
    {% endif %}
</td>