{% extends "iommi/main_menu/menu.html" %}
{% load static %}

{% block before_ul %}
    <a href="/"><i class="fa-solid fa-scale-balanced fs-3 mx-3 mt-3"></i></a>
    <div class="btn-group m-3 d-flex" role="group">
        {% if request.user.is_authenticated %}
            <a href="{% url 'home' %}" class="btn btn-success">{% if request.user.is_staff %}<i class="fa-solid fa-user-tie"></i>{% endif %}{{ request.user }}</a>
            <a href="{% url 'logout' %}" class="btn btn-secondary"><i class="fa-solid fa-right-from-bracket"></i></a>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-success m-3">Log In <i class="fa-solid fa-right-to-bracket"></i></a>
        {% endif %}
    </div>
{% endblock %}

{% block bottom %}
    <div style="position: fixed; top: 1em; right: 1em;">
        <button class="btn btn-light" id="toggle-mode">
            <i class="fa-solid fa-circle-half-stroke"></i>
        </button>

        <script>
            const toggleButton = document.getElementById('toggle-mode');
            const bodyElement = document.body;

            toggleButton.addEventListener('click', () => {
                const currentTheme = bodyElement.getAttribute('data-bs-theme');
                if (currentTheme === 'dark') {
                    bodyElement.setAttribute('data-bs-theme', 'light');
                } else {
                    bodyElement.setAttribute('data-bs-theme', 'dark');
                }
            });
        </script>
    </div>

    <nav class="mt-auto">
        <ul>
            <li class=""><a href="/privacy/"><span>Privacy Statement</span></a></li>
            <li>
                <a href="https://southampton.ac.uk"><picture><source srcset="{% static 'img/UoS_logo_light.png' %}" media="(prefers-color-scheme: dark)" /><img class="sidebar-image" src="{% static 'img/UoS_logo_dark.png' %}" /></picture></a>
            </li>
            <li>
                <a href="https://rsg.soton.ac.uk"><img class="sidebar-image my-3" src="{% static 'img/RSG_logo_orange.png' %}" alt="Research Software Group"/></a>
            </li>
        </ul>
    </nav>
{% endblock %}