<td>
    {% for item in value.all %}
        {% if item.is_provisional and item.is_first_time %}
            <a href='{{ item.get_absolute_url }}' class="btn btn-sm btn-success-outline">
                {{ item.staff.name }}
                <i class="fa fa-clipboard-question"></i>
                <i class="fa fa-plus"></i>
            </a>

        {% elif item.is_provisional %}
            <a href='{{ item.get_absolute_url }}' class="btn btn-sm btn-primary-outline">
                {{ item.staff.name }} <i class="fa fa-clipboard-question"></i>
            </a>

        {% elif item.is_first_time %}
            <a href='{{ item.get_absolute_url }}' class="btn btn-sm btn-success">
                {{ item.staff.name }} <i class="fa fa-clipboard-user fa-plus"></i>
            </a>

        {% else %}
            <a href='{{ item.get_absolute_url }}' class="btn btn-sm btn-primary">
                {{ item.staff.name }} <i class="fa fa-clipboard-check"></i>
            </a>
        {% endif %}
    {% endfor %}
</td>