<td>
    {% for assignment in value.all %}
        {% if assignment.is_provisional and assignment.is_first_time %}
            <a href='{{ assignment.get_absolute_url }}' class="btn btn-sm btn-outline-success">
                {{ assignment.staff }}
                <i class="fa fa-clipboard-user"></i>
                <i class="fa fa-plus"></i>
            </a>

        {% elif assignment.is_provisional %}
            <a href='{{ assignment.get_absolute_url }}' class="btn btn-sm btn-outline-primary">
                {{ assignment.staff }}
                <i class="fa-solid fa-clipboard-user"></i>
            </a>

        {% elif assignment.is_first_time %}
            <a href='{{ assignment.get_absolute_url }}' class="btn btn-sm btn-success">
                {{ assignment.staff }}
                <i class="fa-solid fa-clipboard-check"></i>
                <i class="fa-solid fa-plus"></i>
            </a>

        {% else %}
            <a href='{{ assignment.get_absolute_url }}' class="btn btn-sm btn-primary">
                {{ assignment.staff }}
                <i class="fa-solid fa-clipboard-check"></i>
            </a>
        {% endif %}
    {% endfor %}
</td>