:root {
    --rich-black: #00131D;
    --neutral-1: #495961;  /* Text: White */
    --neutral-2: #758D9A;  /* Text: Black */
    --neutral-3: #9EB1BD;  /* Text: Black, Marine 1 */
    --neutral-4: #E1E8EC;  /* Text: Black, Marine 1, University Blue, Horizon 5 */

    --university-blue: #005C84;  /* Text: White, Marine 6, Horizon 1 */
    --marine-1: #002f4c;  /* Text: White, Marine 3-6, Horizon 1-2 */
    --marine-2: #0C838C;  /* Text: White */
    --marine-3: #74C9E5;  /* Text: Black, Marine 1 */
    --marine-4: #83DBD2;  /* Text: Black, Marine 1 */
    --marine-5: #4BB694;  /* Text: Black, Marine 1 */
    --marine-6: #C0D100;  /* Text: Black, Marine 1, University Blue */

    --horizon-1: #FCBC00;  /* Text: Black, Marine 1, University Blue */
    --horizon-2: #EF7D00;  /* Text: Black, Marine 1 */
    --horizon-3: #E63037;  /* Text: Black */
    --horizon-4: #D5007F;  /* Text: White */
    --horizon-5: #8D3970;  /* Text: White, Neutral 4 */

    /*--bs-tertiary-bg: var(--marine-1);*/
    /*--bs-btn-bg: var(--university-blue);*/
    /*--bs-btn-primary-bg: var(--university-blue);*/

    /*--bs-body-color: white;*/
    /*--bs-link-color-rgb: var(--neutral-4);*/
    /*--bs-body-bg: var(--rich-black);*/
    /*--bs-primary: var(--university-blue);*/
    /*--bs-secondary: var(--marine-1);*/
    /*--bs-success: var(--marine-5);*/
    /*--bs-warning: var(--horizon-1);*/
    /*--bs-danger: var(--horizon-3);*/

    --iommi-menu-background-color: var(--bs-primary);
    --iommi-menu-text-color-color: var(--bs-gray-300);

    --bs-body-font-family: "Roboto";
}


/* Styles the active menu item to be white and bold */
.menu {
  & li.is_active > details > summary > a, & li.is_active > a {
    color: var(--bs-white);
    font-weight: 600;
  }
}


.hidden {
    display: none;
}

.sidebar-image {
    width: 8rem;
}

h1 {
    margin-bottom: 2rem;
}
h1 > a {
    color: var(--bs-heading-color);
    text-decoration: none;
}

/* Otherwise the Iommi menu overrides the BS button colours on hover-over */
div.menu > nav > a.btn {
    color: var(--bs-btn-color) !important;
    background-color: var(--bs-btn-bg) !important;

    i {
        color: var(--bs-btn-color) !important;
        background-color: var(--bs-btn-bg) !important;


    }
}
div.menu > nav > a.btn:hover {
    color: var(--bs-btn-hover-color) !important;
    background-color: var(--bs-btn-hover-bg) !important;

    i {
        color: var(--bs-btn-hover-color) !important;
        background-color: var(--bs-btn-hover-bg) !important;
    }
}

.form-floating > :disabled ~ label {
    color: rgba(var(--bs-body-color-rgb),.65);
}

.top-banner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6rem;
    z-index: -10;
    background-color: var(--bs-secondary);
}

