<footer class="footer mt-auto">
    <div class="py-2 bg-primary">
        <div class="container">
            <div class="row">
                <ul class="nav justify-content-around">
                    <li class="nav-item">
                        <a class="nav-link" href="https://rsg.soton.ac.uk">RSG</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/privacy/">Privacy</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
